In [1]:
import pandas as pd
import sqlite3

#### we create a connection with the database

In [ ]:
conn = sqlite3.connect('name.db')

#### we, then, create a cursor. it's an object that allows us to execute sql queries on the database

In [ ]:
cur = conn.cursor()

#### it has a method called execute, which will receive the sql parameters

In [ ]:
cur.execute('sql code')

In [ ]:
#after executing the sql code against the database, you can get and save the results doing the following

results = cur.fetchall()

In [ ]:
#to be actually able to process this data you should have it in a dataframe. to do so

df = pd.DataFrame(results)

In [ ]:
df.head()

### it'a always a great practice to close the connection and cursor before moving on as it may result errors while updating and editing the database.

In [ ]:
cur.close()
conn.close()

### we can do the same thing using another pandas method

In [ ]:
conn = sqlite3.connect('name.db')

df = pd.read_sql('sql code', conn)

#we can get more fancy and specify the index column using index_col, and parse the date columns using parse_dates

### note that read_sql method is a shell fot two other methods, read_sql_query, and read_sql_table

#### except to use read_sql_table a library called SqlAlchemy is required

In [2]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///nama.db')

connection = engine.connect()

In [ ]:
df = pd.read_sql_table('table_name', con = connection)

In [ ]:
df = pd.read_sql_table('table_name', con = connection,
                      index_col = 'some column', 
                      parse_dates = 'a list of columns')

### after that you need also to close the connection

In [ ]:
connection.close()